header>.jumbotron {
  margin-bottom: 0%;
  background-image: url(img/);
  margin-top: 3%;
}

section {
  background-color: black;
}


#banners>.card-deck>.card:hover {
  transform: scale(1.05);
  z-index: 1;
  animation-name: border;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

#merch>.card-deck>.card:hover {
  transform: scale(1.05);
  z-index: 1;
  animation-name: border;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

#logos>.card-deck>.card:hover {
  transform: scale(1.05);
  z-index: 1;
  animation-name: border;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

#thumbnails>.card-deck>.card:hover {
  transform: scale(1.05);
  z-index: 1;
  animation-name: border;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
#thumbnails>.row>.col-sm-3>.card:hover {
  transform: scale(1.05);
  z-index: 1;
  animation-name: border;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
#video>.card-deck>.card:hover {
  transform: scale(1.05);
  z-index: 1;
  animation-name: border;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

#codes>.card-deck>.card:hover {
  transform: scale(1.05);
  z-index: 1;
  animation-name: border;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes border {
  0% {
    border: 8px solid white;
  }

  25% {
    border: 8px solid red;
  }

  50% {
    border: 8px solid white;
  }

  100% {
    border: 8px solid red;
  }
}

.content>div>h1 {
  border-bottom: 1px solid white;
}

.display-3 {
  font-family: Bangers;
}